.ov-player ul{ margin: 0; padding: 0; list-style: none; }
.ov-player p{ margin: 0; padding: 0; }
.ov-player img{ border: 0; }
.ov-player article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }