body{ font-family: arial, sans-serif; font-size: 12px; }

/*
 * *******************************
 * Player and player full screen.
 * *******************************
 */
.ov-player{ position: relative; height: 500px; overflow: hidden;}

.ov-fullscreen > .ov-player{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* Full screen for browsers who supports the fullscreen API */
ov-player > div:full-screen, :full-screen .ov-player{ position: absolute; top: 0; width: 100%; height: 100%; background-color: #000; }
ov-player > div:-webkit-full-screen, :-webkit-full-screen .ov-player{ position: absolute; top: 0; width: 100%; height: 100%; background-color: #000; }
ov-player > div:-ms-fullscreen, :-ms-fullscreen .ov-player{ position: absolute; top: 0; width: 100%; height: 100%; background-color: #000; }
ov-player > div:-o-full-screen, :-o-full-screen .ov-player{ position: absolute; top: 0; width: 100%; height: 100%; background-color: #000; }
ov-player > div:-moz-full-screen, :-moz-full-screen .ov-player{ position: absolute; top: 0; width: 100%; height: 100%; background-color: #000; }


/*
 * *******************************
 * Navigation tabs.
 * *******************************
 */
.ov-player nav{ display: none; position: absolute; top: 0; color: #fff; font-weight: bold; font-size: 1.1em; }
.ov-player nav ul{ display: table; }
.ov-player nav li{ display: table-cell; padding: 0 40px; line-height: 35px; border-top: 5px solid #fff; background-color: #3d3932; }
.ov-player nav li:hover{ border-top: 5px solid #1bbbe9; cursor: pointer; }
.ov-player nav li.ov-selected{ border-top: 5px solid #1bbbe9; }
@media(min-width: 768px){
  .ov-player nav{ display: block; }
}


/*
 * *******************************
 * Views (central part between navigation and player controls).
 * *******************************
 */
.ov-views{ position: absolute; width: 100%; top: 0; bottom: 50px; }
@media(min-width: 768px){
  .ov-views{ top: 40px; }
}


/*
 * *******************************
 * Video view with half video and half presentation.
 * *******************************
 */
.ov-video-view{ width: 100%; height: 100%; background-color: #000; }
.ov-video-view.ng-hide-add.ng-hide-add-active,
.ov-video-view.ng-hide-remove.ng-hide-remove-active{ transition: opacity cubic-bezier(0, 0.96, 0.4, 1) 0.5s; }
.ov-video-view{ opacity: 1; }
.ov-video-view.ng-hide{ opacity: 0; }

/* Video part of the video view */
.ov-video{ width: 100%; height: 100%; }
.ov-video iframe, .ov-video video{ width: 100%; height: 100%; }
.ov-mode-presentation .ov-video{ display: none; }

/* 
 * Presentation part of the video view.
 * Only video on small devices for modes video, both and 
 * both-presentation.
 */
.ov-presentation{ height: 100%; }
.ov-presentation > div{ width: 100%; height: 100%; background-position: center; background-repeat: no-repeat; background-size: contain; }

/* Both, both-presentation and video modes for small devices */
.ov-mode-both .ov-presentation, .ov-mode-both-presentation .ov-presentation, .ov-mode-video .ov-presentation{ display: none; }

/* Presentation mode for small devices */
.ov-mode-presentation .ov-presentation{ width: 100%; }

/* Large devices may display both presentation and video */
@media(min-width: 768px){
  .ov-video, .ov-presentation{ display: block; float: left; width: 50%; }
  .ov-mode-both .ov-presentation, .ov-mode-both-presentation .ov-presentation{ display: block; }
  
  /* Video alone mode */
  .ov-mode-video .ov-presentation{ display: none; }
  .ov-mode-video .ov-video{ width: 100%; }
  
  /* Small video and large presentation mode */
  .ov-mode-both-presentation .ov-presentation{ width: 75%; }
  .ov-mode-both-presentation .ov-video{ width: 25%; }
  
  /* Presentation mode (repeat second selector to be more clear) */
  .ov-mode-presentation .ov-video{ display: none; }
  .ov-mode-presentation .ov-presentation{ width: 100%; }
}


/*
 * *******************************
 * Index view with half the list of slides and half the focused slide.
 * *******************************
 */
.ov-index-view{ width: 100%; height: 100%; background-color: #fff; }
.ov-index-view.ng-hide-add.ng-hide-add-active,
.ov-index-view.ng-hide-remove.ng-hide-remove-active{ position: absolute; top: 0; left: 0; transition: opacity cubic-bezier(0, 0.96, 0.4, 1) 0.5s; }
.ov-index-view{ opacity: 1; }
.ov-index-view.ng-hide{ opacity: 0; }

/*
 * Slides part of the index view.
 */
.ov-slides{ height: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; font-size: 1.8em; }
.ov-slides li{ display: inline-block; width: 200px; padding: 5px; margin: 10px; border: 1px solid #ddd; color: #1bbbe9; }
.ov-slides li:hover{ cursor: pointer; background-color: #1bbbe9; color: #fff; }
.ov-slides img{ width: 100%; }
.ov-slides p{ margin-top: 10px; text-align: center; }
.ov-past-timecode{ opacity: 0.5; }

/*
 * Focused slide part of the index view.
 * Half right part of the view is not displayed on small devices. 
 */
.ov-focused-slide{ display: none; height: 100%; }

@media(min-width: 768px){
  .ov-slides, .ov-focused-slide{ display: block; float: left; width: 50%; }
  .ov-focused-slide > div{ width: 100%; height: 100%; background-position: center; background-repeat: no-repeat; background-size: contain; }
}


/*
 * *******************************
 * Player controls.
 * *******************************
 */
.ov-controls{ position: absolute; bottom: 0; width: 100%; height: 50px; background-color: #000; color: #fff; }

/* Time bar */
.ov-time-bar{ height: 10px; padding: 3px; border: 1px solid #1bbbe9; }
.ov-time-bar > div{ position: relative; height: 100%; cursor: pointer; background-color: #666; }
.ov-seen{ position: absolute; width: 50%; height: 100%; background-color: #1bbbe9; transition: width linear 0.2s; }
.ov-loaded{ position: absolute; width: 70%; height: 100%; background-color: #3d3932; transition: width linear 0.2s; }
.ov-ghost{ position: absolute; width: 100%; height: 100%; }
.ov-cursor{ display: none; position: absolute; top: 0; height:100%; width: 2px; background-color: #fff; }
.ov-cursor > div{ position: absolute; top: -130px; left: -65px; width: 130px; height: 100px; padding: 5px; border: 1px solid #3d3932; background-color: #fff; }
.ov-cursor img{ width: 130px; height: 100px; }
@media(min-width: 768px){
  .ov-cursor{ display: block; }
}

/* Player buttons */
.ov-buttons{ position: relative; height: 32px; }
.ov-button{ color: #fff; }
.ov-button:hover{ cursor: pointer; color: #1bbbe9; }

/* Left buttons */
.ov-buttons .ov-left{ display: table; position: absolute; left: 10px; font-size: 1.5em; height: 100%; line-height: 36px; }

/* Play button */
.ov-icon-play{ display: table-cell; vertical-align: middle; }

/* Right buttons */
.ov-buttons .ov-right{ position: absolute; right: 10px; height: 100%; }
.ov-right .ov-time, .ov-right > div{ float: left; font-size: 1.5em; line-height: 32px; padding: 0 5px; }
.ov-right .ov-time{ font-size: 1.1em; }
.ov-time > span{ color: #aaa; }

/* Mode button */
.ov-right .ov-mode{ display:none; position: relative; font-size: 4em; line-height: 32px; }
.ov-mode ul{ position: absolute; top: -140px; left: -3px; padding: 5px; border: 1px solid #1bbbe9; background-color: #000; }
.ov-right .ov-mode li{ line-height: 30px; height: 30px; }
@media(min-width: 768px){
  .ov-right .ov-mode{ display: block; }
}
.ov-modes-animate.ng-hide-add.ng-hide-add-active,
.ov-modes-animate.ng-hide-remove.ng-hide-remove-active{ transition: opacity cubic-bezier(0, 0.96, 0.4, 1) 0.5s; }
.ov-modes-animate{ opacity: 1; }
.ov-modes-animate.ng-hide{ opacity: 0; }

/* Volume button */
.ov-icon-volume{ display: none; position: relative; }
.ov-icon-volume > div{ position: absolute; top: -90px; left: 5px; width: 10px; height: 70px; padding: 5px; border: 1px solid #1bbbe9; background-color: #000; }
.ov-icon-volume .ov-volume, .ov-icon-volume .ov-volume-preview{ position: absolute; left: 0; bottom: 0; width: 100%; }
.ov-icon-volume .ov-volume{ background-color: #1bbbe9; }
.ov-icon-volume .ov-volume-preview{ background-color: #3d3932; }
.ov-volume-animate.ng-hide-add.ng-hide-add-active,
.ov-volume-animate.ng-hide-remove.ng-hide-remove-active{ transition: opacity cubic-bezier(0, 0.96, 0.4, 1) 0.5s; }
.ov-volume-animate{ opacity: 1; }
.ov-volume-animate.ng-hide{ opacity: 0; }
@media(min-width: 768px){
  .ov-icon-volume{ display: block; }
}

/* Fullscreen icon */
.ov-icon-fullscreen{ display: none; }
@media(min-width: 768px){
  .ov-icon-fullscreen{ display: block; }
}

/* Loader */
.ov-loader{ position: absolute; bottom: 10px; left: 10px; color: #fff; }