@import "compass/css3/user-interface";
@import "compass/css3/box-sizing";
@import "compass/css3/transform";
@import "compass/css3/animation";
@import "compass/css3/transition";

$OPL_BUTTON_PRIMARY_COLOR: #000000;

/*
  Animate the ripple with a growing effect from 0 to 100%.
*/
@include keyframes(opl-button-ripple-radius-in) {
  from {
    @include animation-timing-function(cubic-bezier(0.4, 0, 0.2, 1));
    @include scale(0);
  }
  to {
    @include scale(1);
  }
}

/*
  Animate the ripple with a resolve effect from 0 to 0.16.
*/
@include keyframes(opl-button-ripple-resolve) {
  from {
    @include animation-timing-function(cubic-bezier(0.4, 0, 0.2, 1));
    opacity: 0;
  }
  to {
    opacity: 0.16;
  }
}

/*
  Animate the ripple with a dissolve effect from focus 0.16 to 0.
*/
@include keyframes(opl-button-ripple-opacity-dissolve) {
  from {
    @include animation-timing-function(linear);
    opacity: 0.16;
  }
  to {
    opacity: 0;
  }
}

opl-button {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.opl-button {
  --opl-button-primary-color: #{$OPL_BUTTON_PRIMARY_COLOR};
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  will-change: transform, opacity;
  padding: 4px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--opl-button-primary-color, $OPL_BUTTON_PRIMARY_COLOR);
  @include box-sizing(border-box);
  @include user-select(none);

  /*
    Focus ring and ripple in resting state.
  */
  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: 0;
    border-radius: 50%;
    pointer-events: none;
  }

  /*
    Focus ring in resting state.
  */
  &::before {
    @include transition-property(opacity);
    @include transition-timing-function(linear);
    @include transition-duration(15ms);
    background-color: var(--opl-button-primary-color, $OPL_BUTTON_PRIMARY_COLOR);
  }

  /*
    Ripple in resting state.
  */
  &::after {
    @include scale(0);
    @include transform-origin(center, center);
    background-color: var(--opl-button-primary-color, $OPL_BUTTON_PRIMARY_COLOR);
  }

  /*
    Focus ring in over state.
  */
  &:hover::before {
    opacity: 0.04;
  }

  /*
    Focus ring in focus state.
  */
  &.opl-focus::before {
    @include transition-duration(75ms);
    opacity: 0.12;
  }

  /*
    Ripple in activation state.
  */
  &.opl-activation::after {
    @include animation-name(opl-button-ripple-radius-in, opl-button-ripple-resolve);
    @include animation-duration(225ms, 75ms);
    @include animation-fill-mode(forwards, forwards);
  }

  /*
    Ripple in deactivation state.
  */
  &.opl-deactivation::after {
    @include animation-name(opl-button-ripple-opacity-dissolve);
    @include animation-duration(150ms);
    @include scale(1);
  }

}
