# Linux
.directory
*~
.*.swp

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
Desktop.ini

# Windows XP
ehthumbs.db

# Project npm dependencies
node_modules/*

# Buildin files
.sass-cache/*
dist/*

# Dev dependencies
lib/*