# Linux
.directory
*~
.*.swp

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
Desktop.ini
ehthumbs.db

# Project npm dependencies
/node_modules

# Build
.sass-cache
/dist

# Development dependencies
/lib

# IDE
nbproject

# Documentation
/site

# Grunt files
/.grunt
