# Linux
# *.swp is already ignored by npm
.directory
*~

# OS X
# .DS_Store* and ._* are already ignored by npm
Icon?

# Windows
Thumbs.db
Desktop.ini
ehthumbs.db

# Project npm dependencies
/node_modules

# IDE
nbproject

# Sources
/src

# Sass cache files
.sass-cache
/compass.rb

# Git
.gitignore
.gitattributes

# Unit tests
/karmaConf.js

# Documentation
/site
/docs
/mkdocs.yml

# Eslint
.eslintrc.json

# Build
/build

# Source maps
/dist/js
/dist/scss
/dist/*.map
/dist/*.scss
