# Linux
# *.swp is already ignored by npm
.directory
*~

# OS X
# .DS_Store* and ._* are already ignored by npm
Icon?

# Windows
Thumbs.db
Desktop.ini
ehthumbs.db

# Project npm dependencies
/node_modules

# Development dependencies
/lib

# IDE
nbproject

# Sass files
/css

# JavaScript files
/js

# Templates
/templates

# Sass cache files
.sass-cache

# Grunt files
/GruntFile.js
/tasks
/.grunt

# Git
.gitignore
.gitattributes

# Unit tests
/tests
/karmaConf.js

# Documentation
/site
/docs
/mkdocs.yml

# Eslint
.eslintrc

# Build
/build
