<div class="opl-indexes">
  <ul>
    <li ng-repeat="index in $ctrl.oplIndexes" ng-mouseenter="$ctrl.setActiveIndex(index)" ng-click="$ctrl.goToIndex(index)" ng-class="{'opl-past-index' : index.timecode < $ctrl.oplTime}">
      <img ng-src="{{index.image.small}}"/>
      <p>{{index.timecode | oplMillisecondsToTime}}</p>
    </li>
  </ul>
</div>

<div class="opl-focused-index">
  <div ng-style="{'background-image': $ctrl.activeIndex && $ctrl.activeIndex.image ? 'url(' + $ctrl.activeIndex.image.large + ')' : 'none'}"></div>
</div>
