<div class="opl-poi opl-tags">
  <ul>
    <li ng-repeat="tag in $ctrl.oplTags | orderBy:'+value'" class="open" ng-click="$ctrl.selectTag(tag)">
      <div class="title">
        <span class="time" ng-click="$ctrl.goToTag(tag)">{{tag.value | oplMillisecondsToTime}}</span>
        <span> - </span>
        <span ng-class="{active : $ctrl.selectedTag == tag}" class="text" ng-click="$ctrl.selectTag(tag)">{{tag.name}}</span>
      </div>
    </li>
  </ul>
</div>

<div class="opl-focused-tag opl-poi" ng-if="$ctrl.selectedTag">
  <img ng-if="$ctrl.selectedTag.simpleMimeType == 'image'" ng-src="{{$ctrl.selectedTag.src}}">
  <video controls ng-if="$ctrl.selectedTag.simpleMimeType == 'video'" ng-src="{{$ctrl.selectedTag.src}}"> </video>
  <audio ng-if="$ctrl.selectedTag.simpleMimeType == 'audio'" ng-src="{{$ctrl.selectedTag.src}}" audioplayer controls></audio>
  <div ng-if="$ctrl.selectedTag.simpleMimeType && ['image','video','audio'].indexOf($ctrl.selectedTag.simpleMimeType) == -1" class="download-container">
    <div> {{$ctrl.selectedTag.file.originalname}} </div>
    <a href="{{$ctrl.selectedTag.src}}?filename={{$ctrl.selectedTag.file.originalname}}"
    class="download" role="button"
    download="{{$ctrl.selectedTag.file.originalname}}"
    ><span>{{ 'FILE_DOWNLOAD' | oplTranslate}}</span>
    </a>
  </div>

  <div class="description" ng-if="$ctrl.selectedTag.description && $ctrl.selectedTag.description != ''" ng-bind-html="$ctrl.trustedHTML($ctrl.selectedTag.description)"></div>
</div>
