{

  "env": {
    
    // Add mocha environment globals
    "mocha": true
    
  },
  "globals": {
  
    // Add angular to environment globals but do not authorize to overwrite it
    inject: false,
    
    // Add chai to environment globals but do not authorize to overwrite it
    chai: false,
    assert: false,
    
    // Add player's globals to environment globals
    ovFlashPlayer: true

  },
  "rules": {
    
    // JSDoc comment not required
    "require-jsdoc": 0,
    
    // Strict mode not required
    "strict": 0
    
  }
  
}