/*
 * *************************
 * Index view
 * *************************
 */

/* Index view with half the list of slides and half the focused slide */
.ov-chapters-view{
  opacity: 1;
  width: 100%; 
  height: 100%; 
  background-color: #000; 
  
  &.ng-hide-add.ng-hide-add-active,
  &.ng-hide-remove.ng-hide-remove-active{
    position: absolute; 
    top: 0; 
    left: 0; 
  }
  
  &.ng-hide{ 
    opacity: 0; 
  }
}
