/*
 * *************************
 * Player fullscreen
 * *************************
 */
.ov-fullscreen > .ov-player{ 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

/* Full screen for browsers who supports the fullscreen API */
ov-player > div:full-screen, :full-screen .ov-player{
  position: absolute; 
  top: 0; 
  width: 100%; 
  height: 100%; 
  background-color: $background-color; 
}

ov-player > div:-webkit-full-screen, :-webkit-full-screen .ov-player{ 
  position: absolute; 
  top: 0; 
  width: 100%; 
  height: 100%; 
  background-color: $background-color; 
}

ov-player > div:-ms-fullscreen, :-ms-fullscreen .ov-player{ 
  position: absolute; 
  top: 0; 
  width: 100%; 
  height: 100%; 
  background-color: $background-color; 
}

ov-player > div:-o-full-screen, :-o-full-screen .ov-player{ 
  position: absolute; 
  top: 0; 
  width: 100%; 
  height: 100%; 
  background-color: $background-color; 
}

ov-player > div:-moz-full-screen, :-moz-full-screen .ov-player{ 
  position: absolute; 
  top: 0; 
  width: 100%; 
  height: 100%; 
  background-color: $background-color; 
}