
/* poi list */
.poi{
  height: 100%; 
  overflow-y: auto; 
  -webkit-overflow-scrolling: touch; 
  font-size: 1.8em; 
  background-color: #eee; 
  ul{
     width: 100%;
  }
  
  li {
    cursor: auto;
    background-color: #fff; 
    padding: 5px; 
    margin: auto; 
    color: $neutral-color; 
    min-height: 34px;
    line-height: 34px;
    width: 100%;
    float: left;
    box-sizing: border-box;
    
    .title{
      width: 80%;
      float: left;
      text-indent: 20px;
    }

    span.text, span.time{
      cursor: pointer;
      &:hover{
        color: $highlight-color; 
      }
    }
    span.text.active{
      color: $highlight-color; 
    }
    &:hover{
      color: $neutral-color; 
    } 
  }
  
  img{ 
    width: 100%; 
  }
  
  p{ 
    box-sizing: border-box;
    @include transition(border 0.35s ease);
    background-color: #fff; 
    /*display:none;*/
    /*height:0;*/
    /*max-height:0px;*/
    padding:0 20px;
    /*border-left: 0px solid transparent;*/
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd; 
    border-left: 5px solid #ddd;
    border-right: 5px solid #ddd;
    font-size: 16px;
    line-height: 20px;
    &:hover{
      border-left: 5px solid $highlight-color;
      border-right: 5px solid $highlight-color;
    }
  }
  li:hover + p{
    border-left: 5px solid $highlight-color;
    border-right: 5px solid $highlight-color;
  }
  li.open + p{
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 800px;
    display:block;
  }
}
