/*
 * *************************
 * Navigation tabs
 * *************************
 */
.ov-player nav{
  display: none; 
  position: absolute; 
  top: 0; 
  color: $foreground-color;
  font-weight: bold; 
  font-size: 1.1em;
  
  @media(min-width: $media-min-width){
    display: block;
  }
  
  ul{ 
    display: table; 
  }
  
  li{ 
    display: table-cell; 
    padding: 0 40px; 
    line-height: 35px; 
    background-color: $neutral-color;
    transition: border-top 0.4s ease;
    border-top: 0px solid;
  }
  
  li:hover{ 
    border-top: 5px solid $light-gray; 
    cursor: pointer; 
  }
  
  li.ov-selected{ 
    border-top: 5px solid $highlight-color; 
  }
}