/*
 * *************************
 * Navigation tabs
 * *************************
 */
.ov-player nav{
  display: none;
  position: absolute;
  top: 0;
  color: $foreground-color;
  font-weight: bold;
  font-size: 1.1em;
  @include no-select;

  @media(min-width: $media-min-width){
    display: block;
  }

  ul{
    display: table;
    background-color: $neutral-color;
    height: 40px;
  }

  li{
    display: table-cell;
    padding: 0 40px;
    line-height: 40px;
    background-color: $neutral-color;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, $neutral-color 50%, $light-gray 50%);
    @include transition(background-position-y 0.2s);

  }
  
  li:focus{
    outline:none;
  }

  li:hover{
    background-image: linear-gradient(to bottom, $neutral-color 50%, $light-gray 50%);
    cursor: pointer;
    background-position-y: -12%;
  }

  li.ov-selected{
  background-image: linear-gradient(to bottom, $neutral-color 50%, $highlight-color 50%);
  background-position-y: -12%;
  }
}