.ov-tags, .ov-focused-tag{
    float: left;
    width: 50%;
    display: block;
}

.ov-focused-tag{
  height: 410px;
  overflow: auto;
  background-color: $foreground-color;

  img{
    max-width:100%;
    width: auto;
    margin: auto;
    display: block;
    max-height: 300px;
  }

  video, audio{
    background-color: #000;
    max-width:100%;
    width: 100%;
    max-height: 300px;
  }

  .download-container {
    font-size: 16px;
    padding: 10px 20px;
    line-height: 20px;
  }
  .download{
    background-color: $foreground-color;
    color: $neutral-color;
    padding: 5px;
    text-decoration: none;
    display: inline-block;

    &:hover{
      background-color: $light-gray;
    }
    &:active{
      background-color: $highlight-color;
      color: #fff;
    }
  }
}