/* Views (central part between navigation and player controls) */
.ov-views{ 
  position: absolute; 
  width: 100%; 
  top: 0; 
  bottom: 50px; 
  
  @media(min-width: $media-min-width){
    top: 40px;
  }
}

@import "mediaView";
@import "indexView";
@import "chapterView";