<div
     ng-class="{'opl-type-image': $ctrl.oplData.type === 'image', 'opl-tile-abstract': $ctrl.oplAbstract}"
     class="opl-tile"
     tabindex="-1"
>
  <div
       ng-if="$ctrl.smallImagePreloading || $ctrl.largeImagePreloading"
       class="opl-loader"
  ></div>

  <div class="opl-content" ng-style="{'background-image': ($ctrl.oplData.image && $ctrl.oplData.image.small && $ctrl.smallImagePreloaded && !$ctrl.smallImageError && $ctrl.oplAbstract) ? 'url(' + $ctrl.oplData.image.small.url + ')' : 'none', 'background-position': $ctrl.oplData.image.small ? $ctrl.oplData.image.small.x + 'px ' + $ctrl.oplData.image.small.y + 'px' : '0px 0px' }">

    <div class="opl-abstract" ng-if="$ctrl.oplAbstract">
      <p ng-if="$ctrl.smallImageError && $ctrl.oplData.type === 'image'" class="opl-error-message">
        <span ng-bind="'TILE_IMAGE_PRELOAD_ERROR' | oplTranslate"></span>
      </p>
      <div class="opl-title" ng-if="$ctrl.oplData.type === 'text'">
        <p ng-bind="$ctrl.oplData.title"></p>
      </div>
      <div class="opl-info">
        <i class="opl-icon opl-access-time-icon">access_time</i>
        <span class="opl-access-time" ng-bind="$ctrl.oplData.time | oplMillisecondsToTime"></span>
        <span class="opl-more-button">
          <opl-button
                      opl-icon="more_horiz"
                      opl-label="{{'TILE_MORE_INFO_BUTTON_LABEL' | oplTranslate}}"
                      opl-no-sequential-focus="true"
                      opl-on-update="handleMoreInfoAction()"
          ></opl-button>
        </span>
      </div>
    </div>

    <div class="opl-full" ng-if="!$ctrl.oplAbstract">
      <img
           ng-if="$ctrl.oplData.image && $ctrl.oplData.image.large && !$ctrl.largeImagePreloading && $ctrl.largeImageSize && $ctrl.oplData.type === 'image'"
           ng-src="{{$ctrl.oplData.image.large}}"
      />
      <p ng-if="$ctrl.largeImageError" class="opl-error-message"><span ng-bind="'TILE_IMAGE_PRELOAD_ERROR' | oplTranslate"></span></p>
      <div class="opl-close-button" ng-if="$ctrl.oplData.type === 'image'">
        <opl-button
                    opl-icon="close"
                    opl-label="{{'TILE_CLOSE_BUTTON_LABEL' | oplTranslate}}"
                    opl-no-sequential-focus="true"
                    opl-on-update="handleCloseAction()"
        ></opl-button>
      </div>

      <div class="opl-title-wrapper" ng-if="$ctrl.oplData.type === 'text' && $ctrl.oplData.title">
        <div class="opl-title">
          <p ng-bind="$ctrl.oplData.title"></p>
        </div>
        <div class="opl-close-button">
          <opl-button
                      opl-icon="close"
                      opl-label="{{'TILE_CLOSE_BUTTON_LABEL' | oplTranslate}}"
                      opl-no-sequential-focus="true"
                      opl-on-update="handleCloseAction()"
          ></opl-button>
        </div>
      </div>

      <div class="opl-description" style="height: {{descriptionHeight}}px;" ng-if="$ctrl.oplData.type === 'text' && $ctrl.oplData.description">
        <opl-scroller
                      ng-model="scrollerValue"
                      opl-id="opl-tile-{{$ctrl.oplData.id}}-description"
                      opl-orientation="vertical"
                      opl-no-sequential-focus="true"
                      opl-on-ready="handleDescriptionScrollerOnReady()"
        >
          <div class="opl-tile-description" ng-bind-html="getTrustedHtml($ctrl.oplData.description);"></div>
        </opl-scroller>
      </div>

      <div class="opl-attachment" ng-if="$ctrl.oplData.type === 'text' && $ctrl.oplData.file">
        <a
           ng-href="{{$ctrl.oplData.file.url + '?filename=' + $ctrl.oplData.file.originalName}}"
           download="{{$ctrl.oplData.file.originalName}}"
        >
          <i class="opl-icon">attachment</i><span ng-bind="$ctrl.fileName"></span>
        </a>
      </div>
    </div>

  </div>


</div>
