<div class="opl-preview" ng-style="{'background-image': (url && $ctrl.preloaded && !$ctrl.error) ? 'url(' + url + ')' : 'none', 'background-position': (url) ? '-' + position.x + 'px -' + position.y + 'px' : '0px 0px'}">
  <div
       ng-if="$ctrl.preloading"
       class="opl-loader"
  ></div>

  <div class="opl-time">
    <div ng-bind="$ctrl.oplTime | oplMillisecondsToTime"></div>
  </div>

  <p ng-if="$ctrl.error" class="opl-error-message"><span ng-bind="'PREVIEW_IMAGE_PRELOAD_ERROR' | oplTranslate"></span></p>
</div>
