<div ng-class="{'opl-fullscreen': fullViewportActivated}">
  <div class="opl-player" ng-class="{'opl-no-poi': hidePoi}">

    <div class="opl-media-wrapper opl-template-{{$ctrl.selectedTemplate}}">
      <div class="opl-overlay-play-button" ng-class="{'opl-overlay-supported': overlayPlayPauseSupported}">
        <opl-toggle-icon-button
                                opl-on-update="$ctrl.playPause(on)"
        ></opl-toggle-icon-button>
      </div>

      <div class="opl-media">
        <div class="opl-loader" ng-show="$ctrl.loading" ng-bind="'LOADING' | oplTranslate"></div>
        <ng-include src="mediaTemplate"></ng-include>
      </div>

      <div class="opl-area-2">
        <div ng-style="{'background-image': $ctrl.area2ImageUrl ? 'url(' + $ctrl.area2ImageUrl + ')' : 'none'}"></div>
      </div>

      <div class="opl-controls" ng-class="{'opl-hidden': !$ctrl.controlsDisplayed}">
        <div>
          <div class="opl-time-bar">
            <div class="opl-index-preview" ng-show="previewDisplayed && !touchDevice">
              <opl-preview
                           opl-time="previewTime"
                           opl-image="previewImage"
              ></opl-preview>
            </div>
            <opl-slider
                        ng-model="$ctrl.seenPercent"
                        ng-change="handleTimeBarUpdate($ctrl.seenPercent);"
                        opl-label="{{'CONTROLS_TIME_BAR_ARIA_LABEL' | oplTranslate}}"
                        opl-value-text="{{'CONTROLS_TIME_BAR_ARIA_VALUE_TEXT' | oplTranslate}}"
                        opl-on-focus="handleControlFocus()"
                        opl-on-over="handleTimeBarOver()"
                        opl-on-out="handleTimeBarOut()"
                        opl-on-move="handleTimeBarMove(value, coordinates, sliderBoundingRectangle)"
            ></opl-slider>
          </div>
          <div class="opl-left-controls">
            <opl-toggle-icon-button
                                    opl-on="{{$ctrl.playing}}"
                                    opl-off-icon="play_arrow"
                                    opl-on-icon="pause"
                                    opl-off-label="{{'CONTROLS_PLAY_ARIA_LABEL' | oplTranslate}}"
                                    opl-on-label="{{'CONTROLS_PAUSE_ARIA_LABEL' | oplTranslate}}"
                                    opl-on-update="$ctrl.playPause(on)"
                                    opl-on-focus="handleControlFocus()"
            ></opl-toggle-icon-button>
            <opl-volume
                        ng-model="$ctrl.volume"
                        ng-change="$ctrl.setVolume($ctrl.volume)"
                        ng-show="volumeIconDisplayed"
                        opl-on-focus="handleControlFocus()"
            ></opl-volume>
            <div
                 class="opl-current-time"
                 ng-show="timeDisplayed"
            >
              <span>{{$ctrl.time | oplMillisecondsToTime}} / {{$ctrl.duration | oplMillisecondsToTime}}</span>
            </div>
          </div>
          <div class="opl-right-controls">
            <opl-template-selector
                                   opl-template="{{$ctrl.selectedTemplate}}"
                                   opl-label="{{'CONTROLS_TEMPLATES_SELECTOR_ARIA_LABEL' | oplTranslate}}"
                                   opl-on-update="$ctrl.selectTemplate(template)"
                                   ng-show="templateSelectorDisplayed"
                                   opl-on-focus="handleControlFocus()"
            ></opl-template-selector>
            <opl-settings
                          opl-qualities="$ctrl.mediaQualities"
                          opl-sources="$ctrl.mediaSources"
                          opl-quality="{{$ctrl.selectedDefinition}}"
                          opl-source="{{$ctrl.selectedSource}}"
                          opl-on-update="handleSettingsUpdate(quality, source)"
                          opl-on-focus="handleControlFocus()"
                          ng-show="settingsIconDisplayed"
            ></opl-settings>
            <opl-toggle-icon-button
                                    ng-show="fullscreenIconDisplayed"
                                    opl-on="{{$ctrl.fullscreenEnabled}}"
                                    opl-off-icon="fullscreen"
                                    opl-on-icon="fullscreen_exit"
                                    opl-off-label="{{'CONTROLS_FULLSCREEN_ARIA_LABEL' | oplTranslate}}"
                                    opl-on-label="{{'CONTROLS_FULLSCREEN_EXIT_ARIA_LABEL' | oplTranslate}}"
                                    opl-on-update="toggleFullscreen(on)"
                                    opl-on-focus="handleControlFocus()"
            ></opl-toggle-icon-button>
            <opl-veo-labs-button
                                  ng-show="veoLabsIconDisplayed"
                                  opl-label="{{'CONTROLS_VEO_LABS_ARIA_LABEL' | oplTranslate}}"
                                  opl-on-focus="handleControlFocus()"
            ></opl-veo-labs-button>
          </div>
        </div>
      </div>

    </div>

    <div class="opl-light-controls">
      <div>
        <opl-toggle-icon-button
                                opl-on="{{$ctrl.playing}}"
                                opl-off-icon="play_arrow"
                                opl-on-icon="pause"
                                opl-off-label="{{'CONTROLS_PLAY_ARIA_LABEL' | oplTranslate}}"
                                opl-on-label="{{'CONTROLS_PAUSE_ARIA_LABEL' | oplTranslate}}"
                                opl-on-update="$ctrl.playPause(on)"
                                opl-no-sequential-focus="true"
        ></opl-toggle-icon-button>
        <opl-volume
                    ng-model="$ctrl.volume"
                    ng-change="$ctrl.setVolume($ctrl.volume)"
                    ng-show="volumeIconDisplayed"
                    opl-on-open="handleLightVolumeToggle()"
                    opl-on-close="handleLightVolumeToggle()"
                    opl-no-sequential-focus="true"
        ></opl-volume>
        <div
             class="opl-current-time"
             ng-show="timeDisplayed"
        >
          <span>{{$ctrl.time | oplMillisecondsToTime}}</span>
        </div>
        <div class="opl-time-bar">
          <opl-slider
                      ng-model="$ctrl.seenPercent"
                      ng-change="handleTimeBarUpdate($ctrl.seenPercent);"
                      opl-label="{{'CONTROLS_TIME_BAR_ARIA_LABEL' | oplTranslate}}"
                      opl-value-text="{{'CONTROLS_TIME_BAR_ARIA_VALUE_TEXT' | oplTranslate}}"
                      opl-no-sequential-focus="true"
          ></opl-slider>
        </div>
      </div>
    </div>

    <opl-tabs opl-on-select="handleViewSelect(view)" opl-no-tabs="{{tabsHidden}}">
      <opl-view
                opl-label="{{'TABS_CHAPTERS_ARIA_LABEL' | oplTranslate}}"
                opl-class="opl-chapters-view"
                opl-view-id="chapters"
                opl-icon="book"
                opl-on-select="handleViewSelected(id)"
                ng-if="chaptersDisplayed"
      >
        <opl-tiles
                   opl-data="$ctrl.chapters"
                   opl-time="$ctrl.time"
                   opl-on-tile-select="handleTileSelect(tile)"
                   opl-on-tile-info="handleTileInfo(tile, 'chapters')"
                   opl-on-tile-close="handleTileClose(tile, 'chapters')"
        ></opl-tiles>
      </opl-view>
      <opl-view
                opl-label="{{'TABS_TIMECODES_ARIA_LABEL' | oplTranslate}}"
                opl-class="opl-timecodes-view"
                opl-view-id="timecodes"
                opl-icon="image"
                opl-on-select="handleViewSelected(id)"
                ng-if="indexesDisplayed"
      >
        <opl-tiles
                   opl-data="$ctrl.timecodes"
                   opl-time="$ctrl.time"
                   opl-on-tile-select="handleTileSelect(tile)"
                   opl-on-tile-info="handleTileInfo(tile, 'timecodes')"
                   opl-on-tile-close="handleTileClose(tile, 'timecodes')"
        ></opl-tiles>
      </opl-view>
      <opl-view
                opl-label="{{'TABS_TAGS_ARIA_LABEL' | oplTranslate}}"
                opl-class="opl-tags-view"
                opl-view-id="tags"
                opl-icon="note"
                opl-on-select="handleViewSelected(id)"
                ng-if="tagsDisplayed"
      >
        <opl-tiles
                   opl-data="$ctrl.tags"
                   opl-time="$ctrl.time"
                   opl-on-tile-select="handleTileSelect(tile)"
                   opl-on-tile-info="handleTileInfo(tile, 'tags')"
                   opl-on-tile-close="handleTileClose(tile, 'tags')"
        ></opl-tiles>
      </opl-view>
    </opl-tabs>
  </div>
</div>
