<div class="opl-slider"
     tabindex="{{($ctrl.oplNoSequentialFocus === 'true' ? '-1' : '0')}}"
     role="slider"
     aria-valuemin="0"
     aria-valuemax="100"
     aria-valuenow="{{value}}"
     aria-valuetext="{{valueText | oplTranslate:valueTextParameters}}"
     aria-label="{{label}}"
>
  <div class="opl-slider-track-container">
    <div class="opl-slider-track"></div>
  </div>
  <div class="opl-slider-thumb-container">
    <svg class="opl-slider-thumb" width="24" height="24">
      <circle cx="12" cy="12" r="12" stroke-width="0"></circle>
    </svg>
    <div class="opl-slider-focus-ring"></div>
  </div>
</div>
