<video preload="none" id="{{playerId}}" poster="{{mediaThumbnail}}" ng-click="playPause()" class=" ov-media-player video-js vjs-default-skin">
  <!-- <source ng-repeat="source in mediaSources" ng-src="{{source.link}}" type="{{source.mimeType}}" /> -->
  <p>Your user agent does not support the HTML5 Video element.</p>
</video>
<div class="ov-overlay-play-button" ng-show="playPauseButton === 'play'" ng-click="playPause()">
  <div>
    <div ng-if='!error' class="ov-icon-{{playPauseButton}} ov-button"></div>
    <div ng-if='error' class="ov-error" ng-bind='error'></div>
  </div>
</div>
