<div class="ov-slides">
  <ul>
    <li ng-repeat="timecodeObj in timecodes" ng-mouseenter="setImagePreview(timecodeObj.timecode)" ng-click="goToTimecode(timecodeObj.timecode - startCutTime)" ng-class="{'ov-past-timecode' : timecodeObj.timecode - startCutTime < time}">
      <img ng-src="{{timecodeObj.image.small}}"/>
      <p>{{timecodeObj.timecode - startCutTime | millisecondsToTime}}</p>
    </li>
  </ul>
</div>

<div class="ov-focused-slide">
  <div class="image-full" ng-style="{'background-image': imagePreview ? 'url(' + imagePreview + ')' : 'none'}"></div>
</div>