<div ng-class="{'ov-fullscreen' : ovFullViewport}">
  <div class="ov-player">

    <ov-tabs>

      <div class="ov-views">
        <ov-view title="{{'VIDEO_TAB_TITLE' | ovTranslate}}" view="ov-media-view" class="ov-mode-{{selectedMode}}" view-id="media">
          <div class="ov-media">
            <div class="ov-loader" ng-show="loading" ng-bind="'LOADING' | ovTranslate"></div>
            <ng-include src="mediaTemplate"></ng-include>
          </div>
          <div class="ov-presentation">
            <div ng-style="{'background-image': presentation ? 'url(' + presentation + ')' : 'none'}"></div>
          </div>
        </ov-view>

        <ov-view title="{{'INDEX_TAB_TITLE' | ovTranslate}}" ng-if="displayIndexTab" view="ov-index-view" view-id="index">
          <ov-index></ov-index>
        </ov-view>

        <ov-view title="{{'CHAPTERS_TAB_TITLE' | ovTranslate}}" ng-if="displayChapterTab" view="ov-chapters-view" class="ov-mode-{{selectedMode}}" view-id="chapter">
          <ov-chapters></ov-chapters>
        </ov-view>
      </div>

    </ov-tabs>

    <div class="ov-controls">

      <div class="ov-time-bar" ng-click="setTime($event)">
        <div>
          <div class="ov-loaded" ng-style="{'left' : loadedStart + '%','width' : loadedPercent + '%'}"></div>
          <div class="ov-seen" ng-style="{'width' : seenPercent + '%'}"></div>
          <div class="ov-cursor" ng-style="{'left' : timePreviewPosition  + '%'}" ng-show="timePreviewOpened">
            <div ng-if="timePreview">
              <img ng-src="{{timePreview}}" />
            </div>
          </div>
          <div class="ov-time-ghost ov-ghost"></div>
        </div>
      </div>

      <div class="ov-buttons">
        <div class="ov-left">
          <span class="ov-icon-{{playPauseButton}} ov-button" ng-click="playPause()"></span>
        </div>
        <div class="ov-right">
          <p class="ov-time" ng-show="ovTime">{{time | millisecondsToTime}} - <span>{{duration | millisecondsToTime}}</span></p>
          <div class="ov-icon-{{selectedMode}} ov-button ov-mode" ng-show="ovModeIcon" ng-click="toggleModes()">
            <ul ng-show="modesOpened" class="ov-modes-animate">
              <li ng-repeat="mode in modes" ng-click="selectMode(mode)" class="ov-button ov-icon-{{mode}}" ng-class="{'ov-selected' : mode === selectedMode}"></li>
            </ul>
          </div>
          <div class="ov-icon-volume ov-button" ng-show="ovVolumeIcon" ng-click="toggleVolume()">
            <div ng-show="volumeOpened" class="ov-volume-animate" ng-click="setVolume($event)">
              <div class="ov-volume-preview" ng-style="{'height' : volumePreview + '%'}"></div>
              <div class="ov-volume" ng-style="{'height' : volume + '%'}"></div>
              <div class="ov-volume-ghost ov-ghost"></div>
            </div>
          </div>
          <div class="ov-button ov-icon-settings" ng-show="ovSettingsIcon" ng-click="toggleDefinition()">
            <div ng-show="selectedDefinition.height >= 720">HD</div>
            <ul ng-show="definitionOpened" class="ov-definitions-animate" ng-click="">
              <li ng-repeat="definition in mediaDefinitions" ng-click="setDefinition(definition)" ng-bind-template="{{definition.height?definition.height+'p':definition}}" ng-class="{'ov-selected' : selectedDefinition.height?selectedDefinition.height === definition.height:selectedDefinition === definition, 'ov-hd' : definition.height >= 720}"></li>
            </ul>
          </div>
          <div class="ov-icon-{{fullscreenButton}} ov-button ov-icon-fullscreen" ng-show="fullscreenIcon" ng-click="toggleFullscreen()"></div>
        </div>
      </div>
    </div>
  </div>
</div>