<div ng-class="{'ov-fullscreen' : ovFullViewport}">
  <div class="ov-player">

    <ov-tabs>

      <div class="ov-views">
        <ov-view title="Vidéo" view="ov-media-view" class="ov-mode-{{selectedMode}}" view-id="media">
          <div class="ov-media">
            <div class="ov-loader" ng-show="loading" ng-bind="'Loading...'"></div>
            <ng-include src="mediaTemplate"></ng-include>
          </div>
          <div class="ov-presentation">
            <div ng-style="{'background-image': presentation ? 'url(' + presentation + ')' : 'none'}"></div>
          </div>
        </ov-view>

        <ov-view title="Index" ng-if="displayIndexTab" view="ov-index-view">
          <ov-index></ov-index>
        </ov-view>
      </div>

    </ov-tabs>

    <div class="ov-controls">

      <div class="ov-time-bar" ng-click="setTime($event)">
        <div>
          <div class="ov-loaded" ng-style="{'left' : loadedStart + '%','width' : loadedPercent + '%'}"></div>
          <div class="ov-seen" ng-style="{'width' : seenPercent + '%'}"></div>
          <div class="ov-cursor" ng-style="{'left' : timePreviewPosition  + '%'}" ng-show="timePreviewOpened">
            <div>
              <img ng-src="{{timePreview}}" />
            </div>
          </div>
          <div class="ov-time-ghost ov-ghost"></div>
        </div>
      </div>

      <div class="ov-buttons">
        <div class="ov-left">
          <span class="ov-icon-{{playPauseButton}} ov-button" ng-click="playPause()"></span>
        </div>
        <div class="ov-right">
          <p class="ov-time" ng-show="ovTime">{{time | millisecondsToTime}} - <span>{{duration | millisecondsToTime}}</span></p>
          <div class="ov-icon-{{selectedMode}} ov-button ov-mode" ng-show="ovModeIcon" ng-click="toggleModes()">
            <ul ng-show="modesOpened" class="ov-modes-animate">
              <li ng-repeat="mode in modes" ng-click="selectMode(mode)" class="ov-button ov-icon-{{mode}}"></li>
            </ul>
          </div>
          <div class="ov-icon-volume ov-button" ng-show="ovVolumeIcon" ng-click="toggleVolume()">
            <div ng-show="volumeOpened" class="ov-volume-animate" ng-click="setVolume($event)">
              <div class="ov-volume-preview" ng-style="{'height' : volumePreview + '%'}"></div>
              <div class="ov-volume" ng-style="{'height' : volume + '%'}"></div>
              <div class="ov-volume-ghost ov-ghost"></div>
            </div>
          </div>
          <div class="ov-icon-{{fullscreenButton}} ov-button ov-icon-fullscreen" ng-show="ovFullscreenIcon" ng-click="toggleFullscreen()"></div>
        </div>
      </div>
    </div>
  </div>
</div>