<div class="poi ov-tags">
  <ul>
    <li ng-repeat="tag in tags | orderBy:'+value'" class="open" ng-click="setTagSrc(tag)">
      <div class="title" >
        <span class="time" ng-click="goToTimecode(tag.value)">{{tag.value | date:'H:mm:ss':'+0000'}}</span>
        <span> - </span>
        <span ng-class="{active:selectedTag==tag}" class="text" ng-click="setTagSrc(tag)">{{tag.name}}</span>
      </div>
    </li>  
  </ul>
</div>

<div class="ov-focused-tag poi" ng-if="selectedTag">
  <img ng-if="simpleMimeType == 'image'" ng-src="{{selectedTagSrc}}">
  <video controls ng-if="simpleMimeType == 'video'" ng-src="{{selectedTagSrc}}"> </video>
  <audio ng-if="simpleMimeType == 'audio'" ng-src="{{selectedTagSrc}}" audioplayer controls></audio>
  <div ng-if="simpleMimeType && ['image','video','audio'].indexOf(simpleMimeType) == -1" class="download-container">
    <div> {{selectedTag.file.originalname}} </div>
    <a href="{{selectedTagSrc}}?filename={{selectedTag.file.originalname}}"
    class="download" role="button"
    download="{{selectedTag.file.originalname}}"
    ><span>{{ 'FILE_DOWNLOAD' | ovPlayerTranslate}}</span>
    </a>
  </div>

  <div class="description" ng-if="selectedTag.description && selectedTag.description!=''" ng-bind-html="trustedHTML(selectedTag.description)"></div>
</div>