// INJECT_EXTERNAL_FONTS_SCSS

$MEDIA_LARGE_BREAKPOINT: 768px;
$MEDIA_SMALL_BREAKPOINT: 320px;
$HASH: unique-id();

@font-face {
  font-family: "OpenVeo-Player-Icons";
  src: url("./fonts/openveo-player-icons/openveo-player-icons.woff?#{$HASH}") format("woff"),
      url("./fonts/openveo-player-icons/openveo-player-icons.ttf?#{$HASH}") format("truetype"),
      url("./fonts/openveo-player-icons/openveo-player-icons.svg?#{$HASH}") format("svg");
  font-weight: normal;
  font-style: normal;
}

.opl-icon {
  display: inline-block;
  font-family: 'OpenVeo-Player-Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// INJECT_SCSS
